.popup__container_type_image{
    position: relative;
    width: 100%;
    max-width: 75vw;
    background-color: transparent;
    padding: 0;
    border: none;
    box-shadow: none;
       
}

@media screen and (max-width: 500px){
    .popup__container{
        max-width: 282px;
        padding: 0;
    }
   
}

